<footer>
    <ul class="navbar-nav mr-auto w-100 justify-content-end">
        <li class="nav-item"><a class="nav-link" href="//twitter.com/fjellyman"><i class="si-lg si-twitter"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="//www.pinterest.com/jordanfjellman"><i class="si-lg si-pinterest"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="//www.instagram.com/fjellyman"><i class="si-lg si-instagram"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="//www.facebook.com/jordanfjellman"><i class="si-lg si-facebook"></i></a></li>
        <li class="nav-item"><a class="nav-link" href="//www.youtube.com/channel/UCGtBrQpqcG-exPvHN1CcVig"><i class="si-lg si-youtube-play"></i></a></li>
    </ul>
</footer>