<footer id="siteFooter">
    <div class="container">
        <div id="socialLinks" class="row justify-content-center">
            <div class="col col-md-auto text-center"><a href="//www.pinterest.com/jordanfjellman"><i class="si-lg si-pinterest"></i></a></div>
            <div class="col col-md-auto text-center"><a href="//twitter.com/fjellyman"><i class="si-lg si-twitter"></i></a></div>
            <div class="col col-md-auto text-center"><a href="//www.instagram.com/fjellyman"><i class="si-lg si-instagram"></i></a></div>
            <div class="col col-md-auto text-center"><a href="//www.facebook.com/jordanfjellman"><i class="si-lg si-facebook"></i></a></div>
            <div class="col col-md-auto text-center"><a href="//www.youtube.com/channel/UCGtBrQpqcG-exPvHN1CcVig"><i class="si-lg si-youtube-play"></i></a></div>
        </div>
        <div id="copyright" class="row justify-content-center">
            <span>© Fjellman Managment, LLC</span>
        </div>
    </div>
</footer>