#searchForm {
    margin-bottom: 0;
}

#searchForm input[type=search] {
    border: none;
    background: none;
    -webkit-appearance: textfield;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: transparent;
    cursor: pointer;
    font-family: inherit;
    margin: 10px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
    width: 0px;
}

#searchForm input::-webkit-search-decoration,
#searchForm input::-webkit-search-cancel-button {
    display: none;
}

#searchForm input[type=search]:focus {
    border-bottom: 2px solid rgba(255, 255, 255, 0.87);
    outline: none;
    width: 80%;
}

#searchForm input[type=search]:focus {
    width: 130px;
    color: rgba(255, 255, 255, 0.87);
    cursor: auto;
}

#searchForm input:-moz-placeholder,
#searchForm input::-webkit-input-placeholder {
    color: transparent;
}

#searchLabel {
    opacity: 0.9;
}

#searchLabel:hover {
    color: #2f98bb;
    cursor: pointer;
    opacity: 1.0;
}

#searchResults {
    background: #ffffff;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    position: absolute;
    right: 32px;
    min-width: 200px;
    max-width: 40%;
    text-align: left;
    z-index: 20;
}

#searchResults ul {
    list-style: none;
    padding: 0 10px;
}

#searchResults ul li {
    max-height: 50px;
    overflow: hidden;
    overflow-wrap: ellipse;
    padding: 5px 0;
}

#searchResults .search-result-title {
    color: #444444;
    font-size: 0.9em;
    font-weight: 600;
    text-transform: uppercase;
}

#searchResults .search-result {
    color: #444444;
    font-size: 0.8em;
}